.packages-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
   font-family: 'Playfair Display', serif;;
}

.packages-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #b43b67;
}

.packages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.package-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 20px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.package-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.package-card h3 {
  font-size: 1.8rem;
  color: #b43b67;
  margin-bottom: 10px;
}

.package-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.package-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.package-features {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.package-features li {
  margin: 8px 0;
  font-size: 0.95rem;
  color: #333;
}

.btn-primary {
  display: inline-block;
  padding: 12px 25px;
  background-color: #b43b67;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #b43b67;
}
